button {
	width: 80px;
	height: 50px;
	margin: 2pc;

}

/*body {
	background-color: #ffff;
}*/

h1 {
	color: #4d5857;
}

h2 {
	text-align: center;
	font-size: 15px;
	height: 1em;
    width: 22em;
    margin-left: auto;
    margin-right: auto;

}

span {
	font-size: 45px;
	text-align: center;
	margin-left: -30px;
}

#container {
    height: 35em;
    width: 25em;
    /*padding: 10em;*/
    border: 11px solid #4d5857;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    background-color: #f9af2b;
    
}

#score {
	border-radius: 50%;
	width: 80px;
	height: 80px; 
	border: 4px solid #f05131;
	float: left;
	text-align: center;
	font-size: 3pc;
	
}


#timer {
	width: 120px;
	height: 70px;
	border: 4px solid #f05131;
	float: right;
	font-size: 3pc;
	text-align: center;
}

#word {
	height: 100px;
    width: 200px;
    border: 4px solid #f05131;
    margin-top: 10em;
    clear: both;
    margin: 0 auto;
    font-size: 32px;
	text-align: center


}

#letters {
	height: 1em;
    width: 15em;
    padding: 1em;
    margin-top: 2em;
    margin: 50px auto;
    color: #3fa2b0;




}

.letter {
	color: #3fa2b0;
	font-size: 45px;
	display: inline-block;
	margin: 25px;
	
}

.hidden {
	opacity: 0;
}


.btn {
	background: #f08e2b;
	border: 5px solid #4d5857;
}




